<div id="landing" class="landing-bg">
  <ul>
    <a href="#home"><li class="item1"><div class="bg">HOME</div></li></a>
    <a href="#equipments"><li class="item2"><div class="bg">EQUIPMENTS</div></li></a>
    <a href="#events"><li class="item3"><div class="bg">EVENTS</div></li></a>
    <a href="#contacts"><li class="item4"><div class="bg">CONTACT</div></li></a>
    <a href="#about"><li class="item5"><div class="bg">ABOUT</div></li></a>
  </ul>
</div>

<div id="home" class="home-bg">
  <a href="#landing"><h1>Home</h1></a>
</div>

<div id="equipments" class="equipments-bg">
  <a href="#landing">Equipments</a>
</div>

<div id="events" class="events-bg">
  <a href="#landing"><h1>Events</h1></a>
</div>

<div id="contacts" class="contacts-bg">
  <a href="#landing"><h1>Contact</h1></a>
</div>

<div id="about" class="about-bg">
  <a href="#landing"><h1>About</h1></a>
</div>

<a href="#landing" id="fab" class="back-top"><i class="material-icons">arrow_upward</i></a>